[submodule "blynk-app/blynk-library"]
	path = blynk-app/blynk-library
	url = https://github.com/blynkkk/blynk-library.git
[submodule "blynk-app/Timer"]
	path = blynk-app/Timer
	url = https://github.com/rbultman/Timer
